.signUpModal{
    position: fixed;
    background-color: #808080b8;
    inset: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.signUpContent{
    display: block;
    height: clamp(400px,  60vh, 450px);
    /* width: 30vw; */
    padding: 20px;
    border-radius: 5px;
   
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    position: relative;
}
.signUpTitle{
    padding:10px;
    text-align: center;
}
.signUpInputs{
    display: flex;
    flex-direction: column;
    padding:10px;
    text-align: center;
}
.signUpInputs input{
    margin: 0.5vh;
}
.signUpButtons{
    margin: 1vh;
    text-align: center;
}
.signUpButtons button{
    margin: 0.5vh;
}