.search-bar{
    border: none;
    background-color: #d0d0d0;
    border-left:none;
    border-radius:0 5px 5px 0;
    min-height: 40px;
    width: 200px;
  }
  
  .search-bar-btn{
    /* position: relative;
    left: 0; */
    border:none;
    border-radius: 5px 0 0 5px;
  
    background-color:#d0d0d0;
    padding: 18px;
  }
  
  .search-bar-container{
  display:flex;
  height:60px;
  }
  
  